## INTRODUCTION
Ford GoBike is a regional public bicycle sharing system in the San Francisco Bay Area, California. Beginning operatoin in August 2013 as Bay Area Bike Share, the Ford GoBike System currently has over 2,600 bicycles in 262 stations across San Francisco, East Bay and San Jose. On June 28, 2017 the system officiall launched as Gord GoBIke in partnership with FOrd Motor Company. The System is expected to expand to 7,000 bicycles around 540 stations in San Francisco, Oakland, Berekely, EmeryVille and San Jose. The System is OPerated by Motivate in a Partnership with the Metropolitan Transporttaion Commission and the  Bay Area Air Quality District. Ford GoBike is the first regional and large-sclae bicycle sharing system deployed in california and on the West Coast of the United States

## DATA WRANGLING

### Gathering Data

In [177]:
# import all packages and set plots to be embedded inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import Image
%matplotlib inline

In [178]:
#import the data
data = pd.read_csv('201902-fordgobike-tripdata.csv')
data.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,52185,2019-02-28 17:32:10.1450,2019-03-01 08:01:55.9750,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,13.0,Commercial St at Montgomery St,37.794231,-122.402923,4902,Customer,1984.0,Male,No
1,42521,2019-02-28 18:53:21.7890,2019-03-01 06:42:03.0560,23.0,The Embarcadero at Steuart St,37.791464,-122.391034,81.0,Berry St at 4th St,37.775880,-122.393170,2535,Customer,NaN,NaN,No
2,61854,2019-02-28 12:13:13.2180,2019-03-01 05:24:08.1460,86.0,Market St at Dolores St,37.769305,-122.426826,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,5905,Customer,1972.0,Male,No
3,36490,2019-02-28 17:54:26.0100,2019-03-01 04:02:36.8420,375.0,Grove St at Masonic Ave,37.774836,-122.446546,70.0,Central Ave at Fell St,37.773311,-122.444293,6638,Subscriber,1989.0,Other,No
4,1585,2019-02-28 23:54:18.5490,2019-03-01 00:20:44.0740,7.0,Frank H Ogawa Plaza,37.804562,-122.271738,222.0,10th Ave at E 15th St,37.792714,-122.248780,4898,Subscriber,1974.0,Male,Yes

### Assessing the data Visually

In [179]:
data.sample(20)

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
169019,1528,2019-02-04 12:18:25.4570,2019-02-04 12:43:53.9140,121.0,Mission Playground,37.759210,-122.421339,6.0,The Embarcadero at Sansome St,37.804770,-122.403234,5296,Subscriber,1986.0,Female,No
28104,664,2019-02-25 08:54:10.4620,2019-02-25 09:05:15.4140,30.0,San Francisco Caltrain (Townsend St at 4th St),37.776598,-122.395282,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,6540,Subscriber,1981.0,Male,No
178110,176,2019-02-01 17:54:14.6050,2019-02-01 17:57:11.3340,160.0,West Oakland BART Station,37.805318,-122.294837,235.0,Union St at 10th St,37.807239,-122.289370,3719,Subscriber,1987.0,Male,Yes
117158,1339,2019-02-12 03:18:56.4160,2019-02-12 03:41:15.8560,34.0,Father Alfred E Boeddeker Park,37.783988,-122.412408,34.0,Father Alfred E Boeddeker Park,37.783988,-122.412408,4921,Subscriber,1972.0,Male,Yes
19805,821,2019-02-26 15:43:35.3930,2019-02-26 15:57:16.5990,28.0,The Embarcadero at Bryant St,37.787168,-122.388098,41.0,Golden Gate Ave at Polk St,37.781270,-122.418740,4407,Subscriber,1970.0,Male,No
156742,296,2019-02-06 07:32:58.4580,2019-02-06 07:37:55.0570,350.0,8th St at Brannan St,37.771431,-122.405787,67.0,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,1844,Subscriber,1982.0,Male,No
103040,316,2019-02-14 14:55:18.7460,2019-02-14 15:00:35.6150,308.0,San Pedro Square,37.336802,-121.894090,278.0,The Alameda at Bush St,37.331932,-121.904888,3981,Subscriber,1966.0,Male,No
39951,196,2019-02-22 23:31:46.9580,2019-02-22 23:35:03.2640,73.0,Pierce St at Haight St,37.771793,-122.433708,105.0,16th St at Prosper St,37.764285,-122.431804,5371,Subscriber,1988.0,Male,No
35300,716,2019-02-23 18:58:51.4910,2019-02-23 19:10:48.2820,296.0,5th St at Virginia St,37.325998,-121.877120,310.0,San Fernando St at 4th St,37.335885,-121.885660,6373,Subscriber,1994.0,Female,Yes
71067,1014,2019-02-19 17:37:22.1830,2019-02-19 17:54:16.8010,67.0,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,285.0,Webster St at O'Farrell St,37.783521,-122.431158,6471,Subscriber,1992.0,Female,No
24459,575,2019-02-25 18:12:01.9260,2019-02-25 18:21:37.8970,355.0,23rd St at Tennessee St,37.755367,-122.388795,62.0,Victoria Manalo Draves Park,37.777791,-122.406432,5059,Subscriber,1983.0,Male,No
117270,777,2019-02-11 23:05:33.4650,2019-02-11 23:18:31.3220,127.0,Valencia St at 21st St,37.756708,-122.421025,136.0,23rd St at San Bruno Ave,37.754436,-122.404364,5229,Subscriber,NaN,NaN,No
176023,576,2019-02-02 12:43:10.3980,2019-02-02 12:52:47.1690,136.0,23rd St at San Bruno Ave,37.754436,-122.404364,63.0,Bryant St at 6th St,37.775910,-122.402575,5348,Subscriber,1995.0,Male,No
90738,657,2019-02-16 11:36:42.0560,2019-02-16 11:47:39.4360,22.0,Howard St at Beale St,37.789756,-122.394643,79.0,7th St at Brannan St,37.773492,-122.403673,5281,Subscriber,1985.0,Female,No
22237,769,2019-02-26 08:17:05.2830,2019-02-26 08:29:54.4490,144.0,Precita Park,37.747300,-122.411403,58.0,Market St at 10th St,37.776619,-122.417385,5299,Subscriber,1974.0,Other,No
72145,311,2019-02-19 16:53:51.9990,2019-02-19 16:59:03.3460,243.0,Bancroft Way at College Ave,37.869360,-122.254337,249.0,Russell St at College Ave,37.858473,-122.253253,1223,Subscriber,1965.0,Male,No
171499,307,2019-02-03 20:18:47.8770,2019-02-03 20:23:54.9840,58.0,Market St at 10th St,37.776619,-122.417385,85.0,Church St at Duboce Ave,37.770083,-122.429156,5245,Subscriber,1983.0,Male,Yes
32634,674,2019-02-24 13:53:04.3740,2019-02-24 14:04:18.9520,6.0,The Embarcadero at Sansome St,37.804770,-122.403234,50.0,2nd St at Townsend St,37.780526,-122.390288,6232,Subscriber,NaN,NaN,No
79382,756,2019-02-18 17:33:08.7250,2019-02-18 17:45:45.5170,99.0,Folsom St at 15th St,37.767037,-122.415443,142.0,Guerrero Park,37.745739,-122.422140,4758,Subscriber,1963.0,Female,No
124871,990,2019-02-11 08:03:26.7240,2019-02-11 08:19:57.7050,109.0,17th St at Valencia St,37.763316,-122.421904,26.0,1st St at Folsom St,37.787290,-122.394380,4653,Subscriber,1976.0,Male,No

In [180]:
#Assess the dataset programatically
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183412 entries, 0 to 183411
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration_sec             183412 non-null  int64
 1   start_time               183412 non-null  object
 2   end_time                 183412 non-null  object
 3   start_station_id         183215 non-null  float64
 4   start_station_name       183215 non-null  object
 5   start_station_latitude   183412 non-null  float64
 6   start_station_longitude  183412 non-null  float64
 7   end_station_id           183215 non-null  float64
 8   end_station_name         183215 non-null  object
 9   end_station_latitude     183412 non-null  float64
 10  end_station_longitude    183412 non-null  float64
 11  bike_id                  183412 non-null  int64
 12  user_type                183412 non-null  object
 13  member_birth_year        175147 non-null  float64
 14  member_gender            175147 non-null  object
 15  bike_share_for_all_trip  183412 non-null  object
dtypes: float64(7), int64(2), object(7)
memory usage: 22.4+ MB

In [181]:
#check if duplicates exists
data.duplicated().sum()

0

In [182]:
#View descriptive Statistic of the dataFrame
data.describe()

,duration_sec,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,member_birth_year
count,183412.000000,183215.000000,183412.000000,183412.000000,183215.000000,183412.000000,183412.000000,183412.000000,175147.000000
mean,726.078435,138.590427,37.771223,-122.352664,136.249123,37.771427,-122.352250,4472.906375,1984.806437
std,1794.389780,111.778864,0.099581,0.117097,111.515131,0.099490,0.116673,1664.383394,10.116689
min,61.000000,3.000000,37.317298,-122.453704,3.000000,37.317298,-122.453704,11.000000,1878.000000
25%,325.000000,47.000000,37.770083,-122.412408,44.000000,37.770407,-122.411726,3777.000000,1980.000000
50%,514.000000,104.000000,37.780760,-122.398285,100.000000,37.781010,-122.398279,4958.000000,1987.000000
75%,796.000000,239.000000,37.797280,-122.286533,235.000000,37.797320,-122.288045,5502.000000,1992.000000
max,85444.000000,398.000000,37.880222,-121.874119,398.000000,37.880222,-121.874119,6645.000000,2001.000000

In [183]:
data.shape

(183412, 16)

#### Quality Issues :

* start_time and end_time are objects not timestamps
* user type, gender and bike_share_for_all_trip can be set to category
* bike_id, start_session_id, end_station_is can be set to object
* we can calculate the age of the user
* we can improve the quality of the data with more columns from the time such as month, daya, hourm week
* we can calculate the distance for rides between stations

#### Cleaning Data

In [184]:
data_clean = data.copy()

##### Define:
`start_time` and `end_time` are objects not timestamps then convert the datatype to datetime
`user type`, `member_gender` and `bike_share_for_all_trip` will be converted to the datatype category
`bike_id`, `start_session_id`, `end_station_is` will be converted to the object datatype

In [ ]:
#change datatypes to datetime
data_clean['start_time'] = pd.to_datetime(data_clean['start_time'])
data_clean['end_time'] = pd.to_datetime(data_clean['end_time'])

In [ ]:
#change the datatype to category
data_clean['user_type'] = data_clean['user_type'].astype('category')
data_clean['member_gender'] = data_clean['member_gender'].astype('category')
data_clean['bike_share_for_all_trip'] = data_clean['bike_share_for_all_trip'].astype('category')

In [ ]:
#change the datatype to object
data_clean['bike_id'] = data_clean['bike_id'].astype('str')
data_clean['start_station_id'] = data_clean['start_station_id'].astype('str') 
data_clean['end_station_id'] = data_clean['end_station_id'].astype('str')

##### Test

In [ ]:
data_clean.info()

#### Define
Calculate the age of the member

#### Code

In [ ]:
#substract the birth year from the current year(2019 from the dataset)
data_clean['member_age'] = 2019 - data_clean['member_birth_year']

#### Test

In [ ]:
data_clean.head()

#### Define
Enhance dataset with new date related fields

#### Code

In [ ]:
data_clean.head()

#### Define:
Enhance dataset with new date related fields

#### Code:

In [ ]:
# etxract start time month name
data_clean['start_time_month_name'] = data_clean['start_time'].dt.strftime('%B')

In [ ]:
#extract start time month number
data_clean['start_time_month'] = data_clean['start_time'].dt.month.astype(int)

In [ ]:
#extract start time day
data_clean['start_time_weekday'] = data_clean['start_time'].dt.strftime('%a')

In [ ]:
#extract start time day
data_clean['start_time_day'] = data_clean['start_time'].dt.day.astype(int)

In [ ]:
#extract start time hour
data_clean['start_time_hour'] = data_clean['start_time'].dt.hour

In [ ]:
data_clean['start_time_month'].unique()

#### Test

In [ ]:
data_clean.info(verbose =True, null_counts = True)

In [ ]:
#set visualization style
sns.set_style('whitegrid')
sns.set_context("talk")

In [ ]:
# code for the age boxplot

plt.figure(figsize = [14,6])
base_color = sns.color_palette()[0]
sns.boxplot(data = data_clean, x = 'member_age', color = base_color);
plt.title("Age distribution of Forf GoBike users", fontsize = 20, y=1.03)
plt.xlabel('Bikers Age', fontsize =16, labelpad = 10)
plt.savefig('image01.png');

Here is the age distribution of users from ages 18 to 56 takes 95% of the users. There were users more than 100 years old. So, we can remove users more than 60 years old

In [ ]:
#checking statistics for age
data_clean.member_age.describe(percentiles = [.95])

The mean age of riders from descriptive statistics is 34 years

#### Define

Remove age outliers. From the quality issues described aboved , the customers with the birth year before 1900 thus customers with age above 100 years. As 95% of the users are below 55. I am going to kees users below 60

In [ ]:
data_clean = data_clean[data_clean['member_age'] <60]

In [ ]:
data_clean.drop('member_birth_year', axis =1, inplace = True)

In [ ]:
#change age and birth year and integer
data_clean.member_age = data_clean.member_age.astype(int)

#### Test

In [ ]:
sum(data_clean['member_age']>60)

In [ ]:
data_clean.head()

In [ ]:
data_clean.info()

In [ ]:
#data_clean.to_csv('clean_data.csv', index = False)

There are 170993 rides in the dataset with features like bike_id, user_type, member_age, start_station_name etc. Most variables are numeric in the dataset. The dataset contained features about:

* trip duration: start/end time, how long the trip took in seconds
* stations: start/end station, name, geolocation (latitude/longitude)
* anonymized customer data: gender, birth date and user type
* rented bikes: bike id

The dataset was further enhanced with features that I may find neccessary to perform interesting analysis:

* rental time: month, day, hour of the day, weekday (both for start and end date)
* customer: age

#### List the main feature(s) of interest in your dataset? ####

I'm most interested in figuring out when and where bikes are high in demand (during the day/weekday/month). 
Moreover which age range and gender uses the service the most and if the service is mostly used by members or casual riders.

I expect that the start time will be most exploited in my analysis as well as customer related data. I expect that location and datetime will have the strongest effect on bike demand.

### Univariate Exploration ###

I'll start by looking at weekday trend of number of bike rentals and distribution of hours of the daty I will also explore the duration of trips

In [ ]:
# monthly usage of the bike sharing system
plt.figure(figsize = [10,6])
weekday = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
g = sns.countplot(data = data_clean, x = 'start_time_weekday', color = base_color, order = weekday)
g.set(xlabel = 'Month', ylabel='Bike Trips')
plt.title('Monthly Usage of the bike share system', y = 1.03, fontsize = 14, fontweight = 'semibold')
plt.savefig('image002.png')

The bike share system is mainly used during weekdays, with Tuesdat - Thursday as the most popular days for bike rides. The system is most probably used as a daily work/school commute

In [ ]:
plt.figure(figsize = [10,6])
g = sns.countplot(data = data_clean, x = 'start_time_hour', color = base_color)
g.set(xlabel = 'Hours', ylabel = "Bike Trips")
plt.title('Hourly usage of the bike share system', y = 1.03, fontsize =14, fontweight = 'semibold')
plt.savefig('image03.png');

The hourly distribution is bimodal, the system is used mainly 8-9am and 5-6pm when people are going to work and coming back fro work

In [ ]:
#let's now check distribution per user type
data_clean.describe()['duration_sec']

In [ ]:
plt.figure(figsize = [10,6])
bin_edges = np.arange(0,3600,60)
plt.hist(data = data_clean, x='duration_sec', bins = bin_edges)
plt.title("Trip duration (sec) histogram", y=1.03, fontsize = 14, fontweight = 'semibold')
plt.xlabel('Weekday')
plt.ylabel("Duration(sec)")
plt.savefig('image04.png');

Looking at the histogram, we can see that trip durations are no longer than 30 min (1800 sec) and usually last 6 to 15 min. This can be explained by two facts:

* The way the system works: single trips and 24h or 72h access pass are free of additional charge for trips up to 30 min, otherwise you pay extra $3 for additional 15 min. Only the monthly pass offers free of charge 45 min rides.
* The way the system is used: as is looks like people use the system for commuting, they trips are usually short in time probably due to the closeness of their homes to workplace/school.

### Bivariate Exploration ###

In [ ]:
customer = data_clean.query('user_type =="Customer"')['bike_id'].count()
subscriber = data_clean.query('user_type == "Subscriber"')['bike_id'].count()

customer_proportion = customer / data_clean['bike_id'].count()
subcriber_proportion = subscriber /data_clean['bike_id'].count()

In [ ]:
plt.figure(figsize = [14,5])

#code for the bar chart
plt.subplot(1,2,1)

g = sns.countplot(data = data_clean, x='user_type',  order = data_clean.user_type.value_counts().index)
g.set_xlabel("User Type")
g.set_ylabel("Biker Trips")

#code for the pie chart
plt.subplot(1,2,2)

labels = ['Customer', 'Subscriber']
sizes = [customer_proportion, subcriber_proportion]
colors = ['green', 'red']
explode = (0,0.1)

plt.pie(sizes, explode = explode, labels = labels, colors = colors,
       autopct = "%1.1f%%", shadow=True, startangle = 90)

plt.title('equal')
plt.title("User type split for GoBike sharing system", y =1.03, fontsize = 14, fontweight = 'semibold')
plt.savefig('image05.png')

The bike sharing system is mainly used by subscribers (88.6%) than occassional riders (11.4%)

Next lets check the renting trends per each user type

In [ ]:
data_clean['user_type'].head()

In [ ]:
# monthly usage of the bike sharing system per user type
sns.set(rc = {'figure.figsize':(15,8)})
g = sns.catplot(data=data_clean, x = 'start_time_weekday', col = "user_type", kind = 'count', sharey = False, palette = "Greens")
g.set_axis_labels("Weekday", "Bike Trips")
g.set_titles("{col_name}")
g.fig.suptitle("Weekday usage of the bike share system per user per type", y  =1.03, fontsize = 14);
plt.savefig('image06.png');

There is a different trend on which days customers and subscribers rent bikes. As mentioned above customers are most probably occasional riders and tourist who use the bike sharing system on holiday or weekend trips. On the other hand, subscribers are most probably daily work/school commuters who use the system within a week.

Now, lets check when within a day bikes are high in demand.

In [ ]:
# hourly useage of the bike sharing system per user type
sns.set(rc={'figure.figsize':(15,8)})
g = sns.catplot(data=data_clean, x='start_time_hour', col="user_type", kind='count', sharey = False, color = base_color)
g.set_axis_labels("Hour", "Bike Trips")
g.set_titles("{col_name}")
g.fig.suptitle('Hourly usage of the bike share system per user type', y=1.03, fontsize=14, fontweight='semibold');
plt.savefig('image07.png');

In [ ]:
#code for the (histogram) duration (Sec) distribution per user

sns.set(rc = {'figure.figsize': (15,8)})
g = sns.FacetGrid(data_clean, col = "user_type", margin_titles = True, size = 5)
bin_edges = np.arange(0, 3600, 60)
g.map(plt.hist, "duration_sec", color= base_color, bins = bin_edges)
g.set_axis_labels("Duration(sec)", "Bike Trips")
g.set_titles(col_template = "{col_name}")
g.fig.suptitle('Trip duration (sec) histogram per user type', y = 1.03, fontsize=14, fontweight = 'semibold')
plt.savefig('image08')

In [ ]:
#code for the (boxplot) duration (sec) distribution per user type

sns.set(rc = {'figure.figsize':(15,8)})
data = data_clean.query('duration_sec < 3600')
g = sns.catplot(data  =data, y='duration_sec', col = 'user_type', kind = 'box', color = base_color)
g.set_titles(col_template = '{col_name}')
g.set_axis_labels("", "Trip duration (sec)")
g.fig.suptitle('Trip duration (sec) boxplot per user type', y = 1.03, fontsize = 14, fontweight = 'semibold');
plt.savefig('image09.png');

Looking at both charts (histograms and box plots), we can see that trip durations are longer for customers (9 to 23 minutes) than for subscribers (7 to 13 minutes). This can probably be explained by the fact that subscribers are mainly commuters who take short trips to work/school rather than longer trips around the Bay Area.

#### How did the features(s) of interest very with other feature in the dataset?

Adding the user type to the analysis depicted different usage behaviours between customers and subscribers. As mentioned above customers are casual riders, most probably tourists who rent bikes more often during weekends than weekdays and they rent bikes more often within the day rather than around commute hours (8-9am and 5-6pm).  They rent bikes more often during weekdays than weekends and mainly around the time they go and go back from work or school (8-9am and 5-6pm).

#### Did you observe any interesting relationships between the other features? ####

There is a difference in the trip duration between customers and subscribers. Customers trips are usually longer than for subscribers, most probably due to the fact they prefer bike rides around weekends in summertime, what encourages longer trips around the area. Subscribers on the other hand use the system mainly for commute purposes so they rather prefer quick rides to and from work/school.

### Multivariate Exploration ###

I will further explore the dataset by adding gender to the customer typeand check rh hourly distibution of bike rides during weekdays for custoemrs and subribers

In [ ]:
plt.figure(figsize  = [15,8])

#code for the bar chart

g = sns.countplot(data= data_clean, x = "user_type", hue = "member_gender", order = data_clean.user_type.value_counts().index)
g.set_xlabel("User Type")
g.set_ylabel("Bike Trips")
plt.savefig('image10.png')

In general, males are using the system more often than females and others (the registration system allows you to choose 'Other' as a gender). However, the ratio is much smaller between males and females for customers (more ore less 2:1) than for subscribers (3:1).

Let's explore if gender affects the way the bike system is used within a year, weekdays and hours of the day.`

In [ ]:
# weekday usege of the bike sharing system per user type and gender
sns.set(rc={'figure.figsize':(15,8)})

weekday = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
g = sns.catplot(data=data_clean, x='start_time_weekday', col="user_type", hue='member_gender', kind='count', sharey = False,
                order = weekday)
g.set_axis_labels("Weekday", "Bike Trips")
g._legend.set_title('Gender')
g.set_titles("{col_name}")
g.fig.suptitle('Weekly usage of the bike share system per user type and gender', y=1.03, fontsize=14, fontweight='semibold')
plt.savefig('image11.png');

As in the previous section, the trend is very similar for males and females: customers use the system more often during weekends than within a week; subscribers use the system mainly within a week.

In [ ]:
# hourly useage of the bike sharing system per user type and gender
sns.set(rc={'figure.figsize':(15,9)})

g = sns.catplot(data=data_clean, x='start_time_hour', col="user_type", hue='member_gender', kind='count', sharey = False)
g.set_axis_labels("Hour", "Bike Trips")
g._legend.set_title('Gender')
g.set_titles("{col_name}")
g.fig.suptitle('Hourly usage of the bike share system per user type and gender', y=1.03, fontsize=14, fontweight='semibold')
plt.savefig('image12.png');

During the day, both males and females use the system the same way: customers use bikes mainly between 8 am - 7 pm; subscribers on the other side use the system at around 8-9am and 5-6pm when they go and come back from work.

In [ ]:
# code for the (violinplot) duration (sec) distribution per user type and gender
sns.set(rc={'figure.figsize':(15,10)})
g = sns.catplot(data=data, x='user_type', y="duration_sec", hue="member_gender", kind="violin")

g.set_axis_labels("User Type", "Trip duration (sec)")
g._legend.set_title('Gender')
g.fig.suptitle('Trip duration per user type and gender', y=1.03, fontsize=14, fontweight='semibold')
plt.savefig('image13.png');

we can observe that in both cases, females take longer trips (measured in time) than males and other. The difference is more visible for customers (~13 min for males and other vs ~15 for females) than for subscribers (the difference is quite small).

In [ ]:
# Setting the weekday order
data_clean['start_time_weekday'] = pd.Categorical(data_clean['start_time_weekday'], 
                                                categories=['Mon','Tue','Wed','Thu','Fri','Sat', 'Sun'], 
                                                ordered=True)
plt.figure(figsize=(15,8))
plt.suptitle('Hourly usage during the weekday for customers and subscribers', fontsize=14, fontweight='semibold')

# heatmap for customers
plt.subplot(1, 2, 1)
data_customer = data_clean.query('user_type == "Customer"').groupby(["start_time_hour", "start_time_weekday"])["bike_id"].size().reset_index()
data_customer = data_customer.pivot("start_time_hour", "start_time_weekday", "bike_id")
sns.heatmap(data_customer, cmap="Greens")

plt.title("Customer", y=1.015)
plt.xlabel('Weekday')
plt.ylabel('Start Time Hour')

# heatmap for subscribers
plt.subplot(1, 2, 2)
data_subscriber = data_clean.query('user_type == "Subscriber"').groupby(["start_time_hour", "start_time_weekday"])["bike_id"].size().reset_index()
data_subscriber = data_subscriber.pivot("start_time_hour", "start_time_weekday", "bike_id")
sns.heatmap(data_subscriber, cmap="Greens")

plt.title("Subscriber", y=1.015)
plt.xlabel('Weekday')
plt.ylabel('')
plt.savefig('image14.png');

The plot perfectly summarizes in one place the diffrent trends for customers and subscribers

#### Customers use the bike sharing system more often on weekends: ####

* weekdays: most bike rides hapen around 8-9am and 5-6pm with the peak on Fridays around 5pm
* weekends: most bike rides happen between 10am - 8pm with the peak on Saturdays around 2pm

#### Subscribers use the bike sharing system mainly on weekdays: ####

* weekdays: most bike rides hapen around 8-9am and 5-6pm with the peak on Tuesdays around 8am
* weekends: bikes are still rented but there is a significant drop in numbers of rented bikes throughout the entire weekends